@import "../../styles/lib.scss";

.Supporters {
  padding-top: 10vh;

  h2 {
    text-align: center;
    font-family: $font-secondary;
    font-size: 3.25rem; // 52px
  }

  p {
    margin-top: 0.5em;
  }

  @media (max-width: $media-mobile) {
    padding-top: 2rem;
    padding-bottom: 0;

    h2 {
      font-size: 2.5rem;
    }
  }

  &__container {
    h2 {
      text-align: center;
    }

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    justify-items: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 6em;

    &__link {
      &:hover {
        .Supporters__container__item {
          opacity: 0.75;
          transition: all 100ms ease-out;
        }

        &:after {
          transition: all 100ms ease-out;
          opacity: 1;
        }
      }
    }

    &__item {
      max-width: 10vw;
      height: auto;

      @media (max-width: 1000px) {
        max-width: 40vw;
        height: auto;
      }
    }

    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
      grid-gap: 3em;
    }
  }
}
