@import "../../styles/lib.scss";

.Features {
  &__container {
    padding-top: 10vh;
    padding-bottom: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-gap: 2em;

    @media (max-width: $media-mobile) {
      padding-top: 0;
      padding-bottom: 5rem;
    }

    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
      grid-gap: 3em;
    }
  }

  &__item {
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 24px;
    border-radius: 8px;
    transition: box-shadow .2s ease-out;
    width: 100%;

    // Background image is applied to a before element and set to hidden by default. 
    // Then, it's set to visible on hover. This way, the image is loaded on component render 
    // instead of on hover, avoiding image flickering
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../images/background-feature.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top left;
      visibility: hidden;
      transition: background-position .3s;
      border-radius: 8px;
      z-index: -1;
    }
    
    // &:hover {
    //   box-shadow: $box-shadow__feature;
    //   border-radius: 8px;

    //   &::before {
    //     visibility: visible;
    //     background-position: center;
    //   }
    // }

    &__title {
      font-family: $font-secondary;
      font-size: 34px;
      color: $white;
      margin: 0 0 32px;
    }

    &__subtitle {
      font-size: 20px;
      font-weight: 300;
      color: $white;
      margin-bottom: 12px;
    }

    &__description {
      font-size: 16px;
      margin: 0;
    }
  }

  &__footer {
    h3 {
      font-weight: 300;
      font-size: 18px;


    }
  }
  &__buttons {
    display: flex;
    gap: 34px;
    justify-content: center;

    &__button {
      opacity: 0;
      animation: fadeUpSmall 800ms ease-in-out;
      animation-fill-mode: forwards;
      animation-delay: 250ms;
      width: fit-content;

      &:hover {
        transform: translateY(10px);
      }
    }

    @media (max-width: 1000px) {
      flex-direction: column;
      text-align: center;
    }
  }

}
